/* https://i.pinimg.com/474x/79/21/16/7921168eeb8125e6f6166edde7202041.jpg */
:root {
  --red-orange: #ec5f5e;
  --peach: #fecaa2;
  --off-white: #eae6dc;
  --light-pink: #f9d8d3;  
  --lime-green: #b6cd77; 
  --dark-green: #84a05f; 
  --lip-color: #f28380; 
  --pastel-green: #c9dda2;  
  --main-font: 'La Belle Aurore', cursive;
  --second-font: 'Quicksand';
  --third-font: 'Open Sans';
}


header {
  font-family: var(--main-font);
  background-color: var(--red-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--off-white);
  padding: 0 15px;
}

header h1 {
	/* should be h2? */
  text-align: center;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.85;
}

header a:hover {
  opacity: 1;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
  /* border: 3px black dashed; */
}

header nav li:first-child {
  margin-left: 0;
  /* border: 3px red dashed; */

}

header nav li:last-child {
  margin-right: 0;
  /* border: 3px brown dashed; */

}

@media (max-width: 1000px) {
  header{
    padding: 20px 50px;
  }
}


@media (max-width: 700px) {
  header{
    flex-direction: column;
  }

  header h2{
    margin-bottom: 15px;
  }
}